[submodule "mavlink/include/mavlink/v1.0"]
	path = mavlink/include/mavlink/v1.0
	url = git://github.com/15gr830/c_library.git
[submodule "NuttX"]
	path = NuttX
	url = git://github.com/15gr830/NuttX.git
[submodule "uavcan"]
	path = src/lib/uavcan
	url = git://github.com/15gr830/uavcan.git
[submodule "Tools/genmsg"]
	path = Tools/genmsg
	url = git@github.com:15gr830/genmsg.git
[submodule "Tools/gencpp"]
	path = Tools/gencpp
	url = git@github.com:15gr830/gencpp.git
[submodule "unittests/gtest"]
	path = unittests/gtest
	url = git@github.com:15gr830/gtest.git
